<div class="sidebar">
    <div class="sidebar-header">
        <h2>Categories</h2>
    </div>
    <div style="padding: 10px">
        <mat-form-field appearance="outline" subscriptSizing="dynamic" style="width: 100%">
            <mat-label>Search</mat-label>
            <input
                matInput
                type="search"
                [(ngModel)]="searchQuery"
                placeholder="Search categories"
            />
        </mat-form-field>
    </div>
    <app-category-view
        [searchQuery]="searchQuery()"
        (categoryClicked)="categoryClicked($event)" />
</div>

<div class="main-content">
    <div class="content-header">
        <h2>
            @if (xtreamStore.selectedItem()) {
                <button mat-icon-button (click)="historyBack()">
                    <mat-icon>chevron_left</mat-icon>
                </button>
            }
            {{ getContentLabel() }}
        </h2>
    </div>
    <div class="scrollable-content">
        <router-outlet />
    </div>
    <app-mpv-player-bar />
</div>
